<div class="container">
  <div class="row">
    <div class="panel panel-default topDisplay">
      <div class="panel-body panelShade">
        MOPS
      </div>
    </div>
    <div class="dx-searchbar topDisplay searchDisplay">
      <dx-text-box valueChangeEvent="keyup" placeholder="Search mops" mode="search" (onValueChanged)="search($event)" class="textStyle">
      </dx-text-box>

      <dx-button (click)="onButtonClick($event)" text="+" class="buttonStyle">
      </dx-button>
      <dx-popup #MyPopup show-title="true" title="Add New Mop Details" [visible]="isVisible">
        <div *dxTemplate="let data of 'content'">
          <dx-form>
          </dx-form>
          <div class="form-group">
            <label for="ProcessCodeId">Enter Id:</label>
            <input type="number" class="form-control" id="id" placeholder="Enter id" name="id" [(ngModel)] = "formId">
          </div>
           <div class="form-group">
            <label for="TopicId">Enter Mop Name:</label>
            <input type="text" class="form-control" id="TopicId" placeholder="Enter Mop Name" name="name" [(ngModel)] = "name">
          </div>
           <div class="form-group">
            <input type="button" class="btn btn-warning" (click)="onSubmit($event)" value="Save"/>
          </div>
        </div>
      </dx-popup>
    </div>
    <div class="list-container">
      <dx-list [dataSource]="dataSource">
        <div *dxTemplate="let data of 'item'" class="itemDisplay">
          <img src="{{data.logo}}" />
          <a href="/mop_processes">
            <div class="alignClass">{{data.Name}}</div>
          </a>
        </div>
      </dx-list>
    </div>

  </div>
</div>
