.itemDisplay{
	display:inline-flex;
}
.alignClass {
margin: 10px 20px;
}
.topDisplay{
	margin-top: 2%;
}
.panelShade{
	background-color:#f49542;
	color:white;
	font-weight: bold;
}
.iconDisplay {
    font-size: 19px;
    color: #5e6166;
    padding-right: 21px;
    margin-right: -74px;
    float: right;

}
.searchDisplay{
	max-width:95%;
}
/deep/ .dx-fieldset {
    max-width: 400px;
}
/deep/ .weather .dx-button-content {
    padding: 4px 12px;
}
/deep/ .weather .dx-button-content .dx-icon {
    width: 30px;
    height: 30px;
}
