.topSpace {
  margin-top: 20px;
}

.spaceOut {
  padding: 10px;
}

.addBtn {
  padding: 10px;
}

.custom-popup .dx-popup-title .dx-toolbar {
  background-color: coral !important;
}

.newAdd {
  position: absolute;
  z-index: 2;
  right: 185px;
  margin-bottom: 14px;
  margin-left: 1101px;
}
.alignment {
  text-align: center;
}
.random .dx-field-item-label-content {
  text-align: right !important;
}

.buttonColorOne{
  background-color:#ff9a53;
  color:white;
}
.buttonColorTwo{
  background-color:#b0b0b0;
  color:white;
}
.scale{
  border-top:1px solid #D8D6D5;
  border-bottom:1px solid #D8D6D5;
}
.devButton{
  margin-top:10px; 
  margin-bottom:10px; 
  float:right;
}
.flex-container {
	display: flex;
	justify-content: center;
}
.widgetsContainer {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
app-widget-component {
	width: 50%;
}