.custom-popup .dx-popup-title .dx-toolbar {
  background-color: coral !important;
}
.alignment {
  text-align: center;
}
.random .dx-field-item-label-content {
  text-align: right !important;
}

.btn1-color{
  background-color:#ff9a53;
  color:white;
}
.btn2-color{
  background-color:#b0b0b0;
  color:white;
}
.scale{
  border-top:1px solid #D8D6D5;
  border-bottom:1px solid #D8D6D5;
}
.dev-btn{
  margin-top:10px; 
  margin-bottom:10px; 
  float:right;
}
.flex-container {
	display: block;
	justify-content: center;
}
.widgets-container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
shipment-component {
	width: 50%;
}

/*Media Queries*/

@media screen and (max-width: 768px)
{
  shipment-component {
    width: 100%;
  }  
}