
<div class="container">
<div class="row">

<div class="list-container">

 <div class="panel panel-default topDisplay">
    <div class="panel-body panelShade">{{processId}}</div>
 </div>


    <dx-list [dataSource]="dataSource" >
            <div *dxTemplate="let data of 'item'">
                <div *ngFor='let value of getWorkflowDescription(data.workflow, data.topicId);' >
               
                <div class="alignClass"  > <img src="{{data.Icon32}}"/> 
                Step 1.{{value.key}} {{value.value}}
                </div> 
            </div>
             </div>
    </dx-list>

</div>


</div>
</div>

