<div class="flex-container">
  <div class="widgets-container">
    <div class="widget" *ngFor="let item of widgetData">
      <app-display-contacts [data]="item" (openAddressBook)="openAddressBookPopup($event)" (openAddMemberPopup)="openAddContactPopup($event)"></app-display-contacts>
    </div>
  </div>
</div>
<dx-popup #addressBookPopup class="popup" [showTitle]="true" title="Address Book" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isAddressBookPopupVisible">
  <div *dxTemplate="let data of 'content'" id="address-book-popup">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <dx-data-grid id="grid-container" [dataSource]="selectedWidgetInfo.data.Properties" [allowColumnReordering]="true" (onCellPrepared)="onCellPrepared($event)" (onContentReady)="onContentReady($event)" [allowColumnResizing]="true" [columnAutoWidth]="true">
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxi-column dataField="Name"></dxi-column>
            <dxi-column dataField="Country" *ngIf="selectedType !== 'Carrier Agent'"></dxi-column>
            <dxi-column dataField="City"></dxi-column>
            <dxi-column dataField="State"></dxi-column>
            <dxi-column dataField="Phone"></dxi-column>
            <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true"></dxo-editing>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</dx-popup>
<dx-popup #addContactPopup class="popup" [showTitle]="true" title="Add New {{selectedType}}" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="isAddContactPopupVisible" (onHidden)="addContactPopupHidden()">
  <div *dxTemplate="let data of 'content'" id="add-contact-popup">
    <div class="container">
      <div class="row">
        <div id="form-container">
          <form (submit)="saveNewDetails($event)">
            <dx-form id="form" [formData]="newContact" [readOnly]="false" [showColonAfterLabel]="true" [showValidationSummary]="true" [colCount]="2" validationGroup="contactData">
              <dxi-item dataField="Name">
                <dxi-validation-rule type="required" message="Name is required">
                </dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="Account_no"></dxi-item>
              <dxi-item dataField="Address"></dxi-item>
              <dxi-item dataField="Country"></dxi-item>
              <dxi-item dataField="City"></dxi-item>
              <dxi-item dataField="State"></dxi-item>
              <dxi-item dataField="PostalCode"></dxi-item>
              <dxi-item dataField="Phone"></dxi-item>
              <dxi-item dataField="Fax"></dxi-item>
              <dxi-item *ngIf="selectedType === 'Shipper'" dataField="Tax_ID_Name"></dxi-item>
              <dxi-item *ngIf="selectedType === 'Shipper'" dataField="Tax_ID_Reference"></dxi-item>
              <dxi-item *ngIf="selectedType === 'CarrierAgent'" dataField="IATA_Agent_Code"></dxi-item>
              <dxi-item *ngIf="selectedType === 'CarrierAgent'" dataField="CASS_Code"></dxi-item>
            </dx-form>
            <br/>
            <div class="col-md-12 alignment scale">
              <div class="dev-btn">
                <dx-button text="Cancel" class="btn2-color" (click)="hideAddContactPopup()">
                </dx-button>
                <dx-button text="Save" class="btn1-color" validationGroup="contactData" [useSubmitBehavior]="true">
                </dx-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</dx-popup>
