<div class="container">
  <div class="row">
    <div class="panel panel-default top-display">
      <div class="panel-body panel-contrast" [hidden]="isMopProcessesVisible || isSubProcessesVisible">MOPS</div>
      <div class="panel-body panel-contrast" *ngIf="isMopProcessesVisible" [hidden]="isSubProcessesVisible"><span class="dx-icon-arrowleft icon" (click)="onArrowBack($event)"></span> MOP PROCESSES</div>
      <div class="panel-body panel-contrast" *ngIf="isSubProcessesVisible"><span class="dx-icon-arrowleft icon" (click)="onArrowBack($event)"></span>MOP SUB PROCESSES</div>
    </div>
    <!--SEARCH BAR-->
    <div class="dx-searchbar top-display search-bar">
      <dx-text-box valueChangeEvent="keyup" placeholder="Search mops" mode="search" (onValueChanged)="search($event)" class="text-display" *ngIf="!isMopProcessesVisible">
      </dx-text-box>
      <dx-text-box valueChangeEvent="keyup" placeholder="Search Processes" mode="search" (onValueChanged)="search($event)" class="text-display" *ngIf="isMopProcessesVisible">
      </dx-text-box>
      <dx-button (click)="openAddCompanyPopup($event)" text="+" class="btn-display" *ngIf="!isMopProcessesVisible">
      </dx-button>
      <dx-popup #MyPopup show-title="true" title="Add New Mop Details" [visible]="isVisible">
        <div *dxTemplate="let data of 'content'">
          <form (ngSubmit)="addCompany()">
            <div class="form-group">
              <label for="TopicId">Enter Mop Name:</label>
              <input type="text" class="form-control" id="TopicId" placeholder="Enter Mop Name" name="name" [(ngModel)]="companyName">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-warning" value="Add" />
            </div>
          </form>
        </div>
      </dx-popup>
    </div>
    <!--MOP COMPANIES LISTING-->
    <div class="list-container" [hidden]="isMopProcessesVisible || isSubProcessesVisible">
      <dx-list [dataSource]="dataSource">
        <div *dxTemplate="let data of 'item'" class="list-display">
          <img src="{{data.logo}}" />
          <div class="tab-display" (click)="fetchCurrentCompany(data)">{{data.name}}</div>
        </div>
      </dx-list>
    </div>
    <!--MOP PROCESS LISTING-->
    <div class="list-container" *ngIf="isMopProcessesVisible" [hidden]="isSubProcessesVisible">
      <dx-list [dataSource]="processdataSource">
        <div *dxTemplate="let data of 'item'" class="list-display">
          <img src="{{data.icon32}}" />
          <div (click)="setSelectedProcess(data)" class="tab-display">
            <b>{{data.topicId}}</b>-{{data.description}}
          </div>
          <span class="label label-success label-display">{{data.phases.code}} - {{data.phases.description}}</span>
        </div>
      </dx-list>
    </div>
    <!--MOP SUB PROCESSES LISTING-->
    <div class="list-container" *ngIf="isSubProcessesVisible">
      <dx-list [dataSource]="subdataSource">
        <div *dxTemplate="let data of 'item'" class="list-display" (mouseover)="updateIqCodeOnMouseOver(data)" (mouseout)="updateIqCodeOnMouseOut()">
          <img src="{{data.workflowSubstep.length ? data.workflowSubstep[0].icon32 : ''}}" />
          <div (click)="setSelectedSubProcess(data)" [id]="'iq'" class="alignClass" (mouseenter)="toggleWithTemplate()" (mouseleave)="toggleWithTemplate()">
            {{data.description}}
          </div>
        </div>
      </dx-list>
      <div *ngIf="showIqCode" class="iqCode">
        <dx-tooltip target="#iq" [(visible)]="withTemplateVisible">
          <div *dxTemplate="let data = data of 'content'">
            {{iqCode}}
          </div>
        </dx-tooltip>
      </div>
    </div>
  </div>
</div>
