
<div class="container">
<div class="row">

 <div class="panel panel-default topDisplay">
    <div class="panel-body panelShade">MOP PROCESSES</div>
  </div>

<div class="dx-searchbar topDisplay searchDisplay">
    <dx-text-box 
        valueChangeEvent="keyup" 
        placeholder="Search Processes" 
        mode="search" 
        (onValueChanged)="search($event)" class="textStyle">
    </dx-text-box>

     <dx-button (click)="onButtonClick($event)" text="+" class="buttonStyle"></dx-button>
      <dx-popup #MyPopup show-title="true" title="Add New Mop Processes" [visible]="isVisible">
        <div *dxTemplate="let data of 'content'">
          <dx-form>
          </dx-form>
          <div class="form-group">
            <label for="ProcessCodeId">Enter Process Code Id:</label>
            <input type="number" class="form-control" id="id" placeholder="Enter Process Code id" name="id" [(ngModel)] = "ProcessCodeId">
          </div>
           <div class="form-group">
            <label for="TopicId">Enter Topic Id:</label>
            <input type="text" class="form-control" id="TopicId" placeholder="Enter Topic Id" name="TopicId" [(ngModel)] = "TopicId">
          </div>
           <div class="form-group">
            <label for="Phase">Enter Phase:</label>
            <input type="text" class="form-control" id="Phase" placeholder="Enter Topic Id" name="Phase" [(ngModel)] = "Phase">
          </div>
           <div class="form-group">
            <label for="TopicId">Enter Process Name:</label>
            <input type="text" class="form-control" id="TopicId" placeholder="Enter Process Name" name="processName" [(ngModel)] = "process">
          </div>
          
           <div class="form-group">
            <input type="button" class="btn btn-warning" (click)="onSubmit($event)" value="Save"/>
          </div>
        </div>
      </dx-popup>

</div>

<div class="list-container">
    <dx-list 
        [dataSource]="dataSource">
            <div *dxTemplate="let data of 'item'" class="itemDisplay">
                <span class="label label-success labelDisplay">{{data.Phase}}</span>
                <img src="{{data.Icon32}}"/>
                <div class="alignClass">
                <a routerLink="/mop_SubProcesses" (click)=setprocessSelected(data.Process)>
                <b>{{data.TopicId}}</b>-{{data.Process}}
                </a>
                </div>
            </div>
    </dx-list>
</div>

</div>
</div>



