.itemDisplay{
	display:inline-flex;
}
.alignClass {
margin: 10px 20px;
}
.topDisplay{
	margin-top: 2%;
}
.panelShade{
	background-color:#f49542;
	color:white;
	font-weight: bold;
}
.labelDisplay{
	height: 16px;
    margin-right: 12px;
    margin-top: 1%;
    text-align: center;
    width:90px;
}
/deep/ .dx-fieldset {
    max-width: 400px;
}
/deep/ .weather .dx-button-content {
    padding: 4px 12px;
}
/deep/ .weather .dx-button-content .dx-icon {
    width: 30px;
    height: 30px;
}
.searchDisplay{
    max-width:95%;
}
.buttonStyle{
    float: right;
    margin-top: -35px;
}
.textStyle{
    width: 95%;
}
