.panel-contrast{
    background-color:#f49542;
    color:white;
    font-weight: bold;
}

/deep/ .dx-fieldset {
    max-width: 400px;
}
/deep/ .weather .dx-button-content {
    padding: 4px 12px;
}
/deep/ .weather .dx-button-content .dx-icon {
    width: 30px;
    height: 30px;
}
.btn-display{
    float: right;
    margin-top: -35px;
}
.text-display{
    width: 95%;
}
.list-display{
    display:inline-flex;
}
.tab-display {
margin: 10px 20px;
}
.top-display{
    margin-top: 2%;
}
.label-display{
    height: 16px;
    margin-right: 12px;
    margin-top: 1%;
    text-align: center;
    width:90px;
    position: absolute;
    right: 0px;
}
.search-bar{
    max-width:95%;
}
/deep/ .dx-fieldset {
    max-width: 400px;
}
/deep/ .weather .dx-button-content {
    padding: 4px 12px;
}
/deep/ .weather .dx-button-content .dx-icon {
    width: 30px;
    height: 30px;
}








