<div class="container topSpace">
  <div class="well well-lg">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <div class="col-md-6">{{widgetInfo.Name}}</div>
          <div class="col-md-4" *ngIf="type === 'Shipper'">Account Number</div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 topSpace" *ngIf="type === 'Shipper'">
            <div class="panel panel-success">
              <div class="panel-body">{{infoProperty.Name}}</div>
            </div>
          </div>
          <div class="col-md-4 topSpace" *ngIf="type === 'Shipper'">
            <div class="panel panel-success">
              <div class="panel-body">{{infoProperty.Account_no}}</div>
            </div>
          </div>
          <div class="col-md-10 topSpace" *ngIf="type !== 'Shipper'">
            <div class="panel panel-success">
              <div class="panel-body">{{infoProperty.Name}}</div>
            </div>
          </div>
          <div class="col-md-2 topSpace">
            <dx-button class="buttonStyle spaceOut" icon="assets/images/addressBook_01.jpg" 
             (click)="openAddressBook($event)">
            </dx-button>

            <dx-button class="buttonStyle addBtn" icon="assets/images/addbutton.png" 
            (click)="addNewShipper($event)">
            </dx-button>
          </div>
        </div>
        <div class="col-md-12" *ngIf="type === 'Carrier Agent'">
          <div class="col-md-6">Account No.</div>
          <div class="col-md-6">Agent City</div>
        </div>
        <div class="col-md-12" *ngIf="type === 'Carrier Agent'">
          <div class="col-md-6">
            <div class="panel panel-success topSpace">
              <div class="panel-body">{{infoProperty.Account_no}}</div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="type === 'Carrier Agent'">
            <div class="panel panel-success topSpace">
              <div class="panel-body">{{shipperAddress.City}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="type === 'Carrier Agent'">
          <div class="col-md-6">IATA Agent Code</div>
          <div class="col-md-6">CASS Code</div>
        </div>
        <div class="col-md-12" *ngIf="type === 'Carrier Agent'">
          <div class="col-md-6">
            <div class="panel panel-success topSpace">
              <div class="panel-body">{{infoProperty.IATA_Agent_Code}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-success topSpace">
              <div class="panel-body">{{infoProperty.CASS_Code}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="type !== 'Carrier Agent'">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-body">
                {{complieAddress}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Address Book Popup -->



 <dx-popup #MyPopup 
 class="popup"
        [showTitle]="true"
        title="Address Book"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="isVisible">
  <div *dxTemplate="let data of 'content'" id="myPopup">
    <div class="container">
      <div class="row">
        
        <div class="col-md-12">
          <dx-button class="buttonStyle newAdd" icon="assets/images/addbutton.png" (click)="addNewShipper($event)">
          </dx-button>
          <dx-data-grid id="gridContainer" 
          [dataSource]="address" 
          [allowColumnReordering]="true" 
          [allowColumnResizing]="true" 
          [columnAutoWidth]="true">
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxi-column dataField="CompanyName"></dxi-column>
          <dxi-column dataField="CountryName" *ngIf="type !== 'Carrier Agent'"></dxi-column>
          <dxi-column dataField="City"></dxi-column>
          <dxi-column dataField="State"></dxi-column>
          <dxi-column dataField="Phone"></dxi-column>
          </dx-data-grid>
        </div>

      </div>
    </div>
  </div>
</dx-popup>

<!-- Add new Shipper or Consignee -->

 <dx-popup #MyPopup2
 class="popup"
        [showTitle]="true"
        title="Add New <@Type of Contact (e.g., Shipper, Consignee, etc.) >"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="isVisibility">
  <div *dxTemplate="let data of 'content'" id="myPopup2">
    <div class="container">
      <div class="row">
        
        <div id="form-container">
        <dx-form id="form" [colCount]="2" [formData]="widgetData">

        <dxi-item dataField="Account_no"></dxi-item>
        <dxi-item dataField="Name"></dxi-item>
        <dxi-item dataField="StreetAddress" ></dxi-item>       
        <dxi-item dataField="CountryName"></dxi-item>
        <dxi-item dataField="City" ></dxi-item>
        <dxi-item dataField="PostalCode"></dxi-item>
        <dxi-item dataField="ContactName" ></dxi-item>
        <dxi-item dataField="PhoneNumber"></dxi-item>
        <dxi-item dataField="TaxIdName"></dxi-item>
        <dxi-item dataField="TaxIdReference"></dxi-item>

        </dx-form>

        <br/><br/>

        <div class="col-md-12 alignment">
        <dx-button text="Save" type="success" (click)="saveNewDetails($event)"></dx-button>
        <dx-button text="Cancel" type="default" (click)="cancelNewDetailAddition($event)"></dx-button>
        </div>
        </div>
        
      </div>
    </div>
  </div>
</dx-popup>