.mt-20{
	margin-top:20px;
}
.mb-5 {
	margin-bottom: 5px;
}
.px-0 {
	padding-left: 0px;
	padding-right: 0px;
}
.custom-popup .dx-popup-title .dx-toolbar {
  background-color:coral !important;
}
.newAdd{
	padding: 1px;
  margin-bottom: 14px;
  margin-left: 1101px;
}
.alignment{
	text-align:center;
}
.bold-wrapper {
	font-weight: bold;
	font-size: 15px;
}

.widget-wrapper {
	border: 2px solid #eee;
}
.widget-panel {
  margin: 0px;
  border-radius: 2px;
  border: 2px solid #B2BFD7;
}
.widget-panel .panel-body {
	padding: 7px;
	min-height: 36px;
}
.taxDetails p {
	float: left;
	width: 50%;
}