.topSpace{
	margin-top:20px;
}
.spaceOut{
	padding: 10px;
}
.addBtn{
	padding:10px;
}
.custom-popup .dx-popup-title .dx-toolbar {
  background-color:coral !important;
}
.newAdd{
	padding: 1px;
  margin-bottom: 14px;
  margin-left: 1101px;
}
.alignment{
	text-align:center;
}