<div class="container topSpace">
  <div class="well well-lg">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <div class="col-md-6">{{widgetInfo.Name}}</div>
          <div class="col-md-4" *ngIf="type === 'Shipper'">Account Number</div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 topSpace" *ngIf="type === 'Shipper'">
            <div class="panel panel-success">
              <div class="panel-body">{{widgetProperty.Name}}</div>
            </div>
          </div>
          <div class="col-md-4 topSpace" *ngIf="type === 'Shipper'">
            <div class="panel panel-success">
              <div class="panel-body">{{widgetProperty.Account_no}}</div>
            </div>
          </div>
          <div class="col-md-10 topSpace" *ngIf="type !== 'Shipper'">
            <div class="panel panel-success">
              <div class="panel-body">{{widgetProperty.Name}}</div>
            </div>
          </div>
          <div class="col-md-2 topSpace">
            <dx-button class="buttonStyle spaceOut" icon="assets/images/addressBook_01.jpg" 
             (click)="emitAddressBookEvent()">
            </dx-button>

            <dx-button class="buttonStyle addBtn" icon="assets/images/addbutton.png" 
            (click)="openAddMemberPopup.emit({type:type})">
            </dx-button>
          </div>
        </div>
        <div class="col-md-12" *ngIf="type === 'Carrier Agent'">
          <div class="col-md-6">Account No.</div>
          <div class="col-md-6">Agent City</div>
        </div>
        <div class="col-md-12" *ngIf="type === 'Carrier Agent'">
          <div class="col-md-6">
            <div class="panel panel-success topSpace">
              <div class="panel-body">{{widgetProperty.Account_no}}</div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="type === 'Carrier Agent'">
            <div class="panel panel-success topSpace">
              <div class="panel-body">{{widgetProperty.Address.City}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="type === 'Carrier Agent'">
          <div class="col-md-6">IATA Agent Code</div>
          <div class="col-md-6">CASS Code</div>
        </div>
        <div class="col-md-12" *ngIf="type === 'Carrier Agent'">
          <div class="col-md-6">
            <div class="panel panel-success topSpace">
              <div class="panel-body">{{widgetProperty.IATA_Agent_Code}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-success topSpace">
              <div class="panel-body">{{widgetProperty.CASS_Code}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="type !== 'Carrier Agent'">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-body">
                {{widgetProperty.Address}}, &nbsp;{{widgetProperty.City}}, &nbsp;{{widgetProperty.State}}, &nbsp;{{widgetProperty.PostalCode}}, &nbsp;{{widgetProperty.Country}}<br/>
                Phone No.: {{widgetProperty.Phone}}<br/>
                Tax ID Name: {{widgetProperty.Tax_ID_Name}}<br/>
                Tax ID Reference: {{widgetProperty.Tax_ID_Refrence}}<br/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>