/* You can add global styles to this file, and also import other style files */

.dx-icon-arrowleft {
  padding: 5px;
  &:hover {
  	background-color: rgba(0, 0, 0, .2);
  }
}

#form label {
  text-align: right !important;
}

#gridContainer a {
  text-decoration: none !important;
  font-size: 16px !important;
  padding: 3px !important;
}

.widget-btn {
	border: none;
	.dx-button-content{
		padding: 0px !important;
	}
	.dx-icon {
		width: 36px;
		height: 36px;
	}
}

/deep/ .form {
  padding: 20px;
  img {
    width: 100px;
    margin: 10px 0 30px;
	}
}

/deep/ .label {    
    font-size: 16px;
}


.flex-outer {
  list-style-type: none;
  padding: 0;
  li {
  	display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  label,p {
	  	padding: 8px;
		  font-weight: 300;
		  letter-spacing: .09em;
		  text-transform: uppercase;
	  }
	  p {
	  	flex: 1 0 120px;
  		max-width: 220px;
  		margin: 0;	
	  }
	  input[type='text'] {
	  	line-height: 2;
	    font-size: 12px;
	  }
	  button {
		  padding: 8px 16px;
		  border: none;
		  background: #333;
		  color: #f2f2f2;
		  text-transform: uppercase;
		  letter-spacing: .09em;
		  border-radius: 2px;
		  cursor: pointer;
		}
  }
  > li:not(:last-child) {
  	margin-bottom: 20px;
  }
  > li > label {
	  flex: 1 0 120px;
	  max-width: 220px;
  }
  > li > label + * {
  	flex: 1 0 220px;
  }
}

app-display-contacts {
	.mt-20 {
	  margin-top: 20px
	}

	.mb-5 {
	  margin-bottom: 5px;
	}

	.px-0 {
	  padding-left: 0px;
	  padding-right: 0px;
	}

	.widget-wrapper {
	  border: 2px solid #eee;
	  margin: 10px;
	  .panel-body {
	  	display: flex;
	    padding: 10px;
	    flex-wrap: wrap;
	    .widget-body {
		    width: calc(100% * (1/3) - 10px - 1px);
		    flex-grow: 1;
		    padding: 5px;
		    .widget-btn {
		    	position: relative;
			    top: 12px;
		    }
		    &.with-flex {
		    	flex: 1;
		    }
	    }
	  }
	  .bold-wrapper {
		  font-weight: bold;
		  font-size: 15px;
		}
		.tab-display {
	  	border: 1px solid #ddd;
		  padding: 5px 10px;
		  vertical-align: middle;
		  margin-top: 4px;
		}

		.tab-content {
		  background: #fff;
		  border: 1px solid #ddd;
		  padding-left: 20px;
		  color: #333;
		  line-height: 0.8;
		  margin-top: 10px;
		  .tab-space {
			  margin-top: 10px;
			  p {
			  	padding: 5px 0px;
			  }
			}
		}
	}

	.custom-popup .dx-popup-title .dx-toolbar {
	  background-color: coral !important;
	}

	.alignment {
	  text-align: center;
	}

	.widget-panel {
	  margin: 0px;
	  border-radius: 2px;
	  border: 2px solid #B2BFD7;
	  .panel-body {
		  padding: 7px;
		  min-height: 36px;
		  label {
			  min-height: 42px;
			}
		}
	}
}

app-home {
	.container{
		padding: 10px;
		.title {
			text-align: center;
			h1 {
				font-size: 30px;
				margin: 10px 0px;
			}
			p {
				margin: 10px 0px;
			}
		}
	}
}


app-footer {
	footer {
    background-color: #f2f2f2;
    padding: 25px;
    font-size: large;
    margin-top: 27%;
    text-align: center;
    .inc-attribution {
	    font-size: large;
	  }
  }
}


app-header {
	.navbar-container {
	  display: flex;
	  align-items: center;
	  width: 100%;
	  background: #eee;
	  padding: 20px;
	  margin: 0 0 20px 0;
	  list-style-type: none;
	  > * {
	    margin: 0 10px;
	  }
	  .item {
	  	a {
	  		text-decoration: none;
	  	}
	  }

	}
}

app-mops {
	.container {
		padding: 10px;
		.row {
			margin: 10px;
			.panel {
				margin-bottom: 10px;
				.panel-body{
			    background-color:#f49542;
			    color:white;
			    font-weight: bold;
			    padding: 20px;
				}
			}
			.text-display {
				width: 96%;
		    display: inline-block;
			}
			.btn-display{
		    float: right;
		    height: 36px;
			}
			.list-container {
				.list-display{
			    display:inline-flex;
				}
				.tab-display {
					margin: 10px 20px;
				}
				.label-display{
			    padding: 2px;
			    margin-right: 12px;
			    margin-top: 8px;
			    text-align: center;
			    position: absolute;
			    right: 0px;
			    background-color: chartreuse;
				}
			}
		}
	}
	

	/deep/ .dx-fieldset {
    max-width: 400px;
	}
	/deep/ .weather .dx-button-content {
    padding: 4px 12px;
	}
	/deep/ .weather .dx-button-content .dx-icon {
    width: 30px;
    height: 30px;
	}
	/deep/ .dx-fieldset {
    max-width: 400px;
	}
	/deep/ .weather .dx-button-content {
    padding: 4px 12px;
	}
	/deep/ .weather .dx-button-content .dx-icon {
    width: 30px;
    height: 30px;
	}
}

app-shipment-contact-widget {
	.flex-container {
		display: flex;
    flex-wrap: wrap;
    padding: 10px;
		.widgets-container {
			margin: 10px;
    	width: 100%;
			display: flex;
    	flex-wrap: wrap;
    	.widget {
    		width: 50%;
    	}
		}
		app-display-contacts {
			width: 50%;
		}
	}
	.custom-popup .dx-popup-title .dx-toolbar {
	  background-color: coral !important;
	}
	.alignment {
	  text-align: center;
	}
	.random .dx-field-item-label-content {
	  text-align: right !important;
	}

	.btn1-color{
	  background-color:#ff9a53;
	  color:white;
	}
	.btn2-color{
	  background-color:#b0b0b0;
	  color:white;
	}
	.scale{
	  border-top:1px solid #D8D6D5;
	  border-bottom:1px solid #D8D6D5;
	}
	.dev-btn{
	  margin-top:10px; 
	  margin-bottom:10px; 
	  float:right;
	}
	/*Media Queries*/

	@media screen and (max-width: 768px)
	{
	  app-display-contacts {
	    width: 100%;
	  }  
	}
}
