<div class="container">
  <div class="row">
    <div class="panel panel-default topDisplay">
      <div class="panel-body panelShade">
        <span class="dx-icon-arrowleft icon" (click)="onArrowBack($event)"></span> MOP PROCESSES</div>
    </div>
    <div class="dx-searchbar topDisplay searchDisplay">
      <dx-text-box valueChangeEvent="keyup" placeholder="Search Processes" mode="search" (onValueChanged)="search($event)" class="textStyle">
      </dx-text-box>
    </div>
    <div class="list-container">
      <dx-list [dataSource]="dataSource">
        <div *dxTemplate="let data of 'item'" class="itemDisplay">
          <img src="{{data.icon32}}" />
          <div routerLink="/mop_SubProcesses" (click)="setSelectedProcess(data)" class="alignClass">
            <b>{{data.topicId}}</b>-{{data.description}} 
          </div>
          <span class="label label-success labelDisplay">{{data.phases.code}} - {{data.phases.description}}</span>
        </div>
      </dx-list>
    </div>
  </div>
</div>
